h1{
    color: #8a2be2;
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "MS P Gothic", "Osaka", "Hiragino Kaku Gothic Pro", Verdana, Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: #cccccc;
    border: solid 3px #000000
}
h2{
    color: #8a2b;
    text-align: center;
    background-color: #cccccc;
    font-style: oblique;
    border: solid 3px #000000
    
}