
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;          
  justify-content: space-between; 
}


.container .item {
  flex: 0 1 calc(33.3% - 20px); 
  box-sizing: border-box;
  margin-bottom: 40px;           
}

.foodname {
  font-size: 1.1em;
  color: #8a2b;
  margin-bottom: 0.8em;
  position: relative;
}

.foodname::before {
  content: "▲";
  margin-right: 0.4em;
  font-size: 1em;
  color: rgba(33, 173, 56, 0.733);
}


.pic {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 10px;         
  object-fit: cover;          
  margin-bottom: 0.8em;
}

.price {
  font-weight: bold;
  margin-bottom: 0.6em;
}

.flavors {
  margin-bottom: 0.3em;
  color: #555;
  font-size: 0.95em;
  line-height: 1.4;
}